# use case answer 2 :- wael atalla gerges

In [1]:
# mporting the main toolkits

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re 
import seaborn as sns
import string
import nltk
import warnings 
import os
warnings.filterwarnings('ignore', category=DeprecationWarning)
pd.options.mode.chained_assignment = None  # default='warn'

%matplotlib inline

In [6]:
# 1- Reading the Dataset

In [7]:
path = os.path.join('f:' + os.sep, 'Amazon', 'use case 2', 'Use Case 2', 'Use Case 2', 'dataset', '1429_1.csv')
df3 = pd.read_csv(path)

C:\Users\waael\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df3.head()

,id,name,asins,brand,categories,keys,manufacturer,reviews.date,reviews.dateAdded,reviews.dateSeen,...,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,This product so far has not disappointed. My c...,Kindle,NaN,NaN,Adapter
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,great for beginner or experienced person. Boug...,very fast,NaN,NaN,truman
2,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,NaN,NaN,DaveZ
3,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,4.0,http://reviews.bestbuy.com/3545/5620406/review...,I've had my Fire HD 8 two weeks now and I love...,Good!!!,NaN,NaN,Shacks
4,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-12T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,NaN,NaN,explore42

In [9]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34660 entries, 0 to 34659
Data columns (total 21 columns):
id                      34660 non-null object
name                    27900 non-null object
asins                   34658 non-null object
brand                   34660 non-null object
categories              34660 non-null object
keys                    34660 non-null object
manufacturer            34660 non-null object
reviews.date            34621 non-null object
reviews.dateAdded       24039 non-null object
reviews.dateSeen        34660 non-null object
reviews.didPurchase     1 non-null object
reviews.doRecommend     34066 non-null object
reviews.id              1 non-null float64
reviews.numHelpful      34131 non-null float64
reviews.rating          34627 non-null float64
reviews.sourceURLs      34660 non-null object
reviews.text            34659 non-null object
reviews.title           34655 non-null object
reviews.userCity        0 non-null float64
reviews.userProvince    0 non-null float64
reviews.username        34658 non-null object
dtypes: float64(5), object(16)
memory usage: 5.6+ MB

In [10]:
df = df3

In [13]:
df = pd.DataFrame()
df[['text', 'rating']] = df3[['reviews.text', 'reviews.rating']]
df.head()

                                                text  rating
0  This product so far has not disappointed. My c...     5.0
1  great for beginner or experienced person. Boug...     5.0
2  Inexpensive tablet for him to use and learn on...     5.0
3  I've had my Fire HD 8 two weeks now and I love...     4.0
4  I bought this for my grand daughter when she c...     5.0

In [14]:
df.isnull().sum()

text       1
rating    33
dtype: int64

In [15]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34626 entries, 0 to 34659
Data columns (total 2 columns):
text      34626 non-null object
rating    34626 non-null float64
dtypes: float64(1), object(1)
memory usage: 811.5+ KB

In [16]:
df['label'] = df['rating'].apply(lambda x : 1 if x >= 4 else 0) 

# drop the unneeded column of ratings
df.drop(labels=['rating'], axis=1, inplace=True)

df.head()

                                                text  label
0  This product so far has not disappointed. My c...      1
1  great for beginner or experienced person. Boug...      1
2  Inexpensive tablet for him to use and learn on...      1
3  I've had my Fire HD 8 two weeks now and I love...      1
4  I bought this for my grand daughter when she c...      1

In [17]:
# 2- Text Preprocessing

In [18]:
def remove_pattern(text, pattern):
       
    # find all the pattern in the input text and return a list of postion indeces 
    r = re.findall(pattern, text)
    
    # replace the pattern with an empty space
    for i in r: text = re.sub(pattern, '', text)
    
    return text

In [21]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\waael\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [23]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\waael\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [24]:
# lower case every word to ease the upcoming processes 

df['text'] = df['text'].str.lower()

# tokenize the text to search for any stop words to remove it
df['tokenized_text'] = df.text.apply(lambda x : x.split())

# creating a set of stopwords(if you wonder why set cuz it is faster than a list)
stopWords = set(nltk.corpus.stopwords.words('english'))
df['tokenized_text'] = df['tokenized_text'].apply(lambda x : [word for word in x if not word in stopWords])

# create a word net lemma
lemma = nltk.stem.WordNetLemmatizer()
pos = nltk.corpus.wordnet.VERB
df['tokenized_text'] = df['tokenized_text'].apply(lambda x : [lemma.lemmatize(word, pos) for word in x])

# remove any punctuation
df['tokenized_text'] = df['tokenized_text'].apply(lambda x : [ remove_pattern(word,'\.') for word in x])

# rejoin the text again to get a cleaned text
df['cleaned_text'] = df['tokenized_text'].apply(lambda x : ' '.join(x))

df.drop(labels=['tokenized_text'], axis=1, inplace=True)

df.head()

,text,label,cleaned_text
0,this product so far has not disappointed. my c...,1,product far disappointed children love use lik...
1,great for beginner or experienced person. boug...,1,great beginner experience person buy gift love
2,inexpensive tablet for him to use and learn on...,1,"inexpensive tablet use learn on, step nabi thr..."
3,i've had my fire hd 8 two weeks now and i love...,1,i've fire hd 8 two weeks love it tablet great ...
4,i bought this for my grand daughter when she c...,1,"buy grand daughter come visit set user, enter ..."

In [26]:
# 3- Features Extraction

In [27]:
# i- Bag of Words Method

In [28]:
from sklearn.feature_extraction.text import CountVectorizer


# perform vectorization on our cleaned text 
bow_vectorizer = CountVectorizer(max_df=0.9, min_df=2, stop_words='english', max_features=1000)

bow_features = bow_vectorizer.fit_transform(df['cleaned_text'])

bow_df = pd.DataFrame(bow_features.toarray(), columns=bow_vectorizer.get_feature_names())

bow_df.head()

,10,100,11,12,15,16,1st,20,2nd,30,...,worth,wrong,xmas,year,years,yes,young,younger,youtube,yr
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
# ii- TF-IDF Method

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_Vectorizer = TfidfVectorizer(max_df=0.9, min_df=2, max_features=1000, stop_words='english')

tfidf_features = tfidf_Vectorizer.fit_transform(df['cleaned_text'])

tfidf_df = pd.DataFrame(tfidf_features.toarray(), columns=tfidf_Vectorizer.get_feature_names())

tfidf_df.head()

,10,100,11,12,15,16,1st,20,2nd,30,...,worth,wrong,xmas,year,years,yes,young,younger,youtube,yr
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
# 4- Dataset Split

In [32]:
from sklearn.model_selection import train_test_split

X_train_bow, X_metric_bow, y_train_bow, y_metric_bow = train_test_split(bow_df, df['label'], test_size=0.2, random_state=42)
X_test_bow, X_valid_bow, y_test_bow, y_valid_bow = train_test_split(X_metric_bow, y_metric_bow, test_size=0.5, random_state=42)


X_train_tfidf, X_metric_tfidf, y_train_tfidf, y_metric_tfidf = train_test_split(tfidf_df, df['label'], test_size=0.2, random_state=42)
X_test_tfidf, X_valid_tfidf, y_test_tfidf, y_valid_tfidf = train_test_split(X_metric_tfidf, y_metric_tfidf, test_size=0.5, random_state=42)

In [33]:
# 5- Building a Machine Learning Model

In [34]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import classification_report, accuracy_score, f1_score

clf_bow = clf_tfidf = AdaBoostClassifier(n_estimators=100, learning_rate=0.001)

In [35]:
clf_bow.fit(X_train_bow, y_train_bow)
clf_tfidf.fit(X_train_tfidf, y_train_tfidf)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
                   learning_rate=0.001, n_estimators=100, random_state=None)

In [37]:
pred_bow   = clf_bow.predict(X_test_bow)
pred_tfidf = clf_tfidf.predict(X_test_tfidf)

In [38]:
from colorama import Fore, Style

print(f'AdaBoost Classifier Results: \n',
      f'{Fore.RED}Bag of words{Style.RESET_ALL} \n',
      f'Accuracy Socre: {Fore.LIGHTBLUE_EX}%0.2f %%{Style.RESET_ALL} \n'%(100 * accuracy_score(y_test_bow, pred_bow)))
print(classification_report(y_test_bow, pred_bow))

print(f'{Fore.RED}TF-IDF{Style.RESET_ALL} \n',
      f'Accuracy Socre: {Fore.LIGHTBLUE_EX}%0.2f %%{Style.RESET_ALL} \n'%(100 * accuracy_score(y_test_tfidf, pred_tfidf)))
print(classification_report(y_test_tfidf, pred_tfidf))

AdaBoost Classifier Results:
 Bag of words
 Accuracy Socre: 93.85 %

              precision    recall  f1-score   support

           0       0.48      0.09      0.16       211
           1       0.94      0.99      0.97      3252

    accuracy                           0.94      3463
   macro avg       0.71      0.54      0.56      3463
weighted avg       0.92      0.94      0.92      3463

TF-IDF
 Accuracy Socre: 93.82 %

              precision    recall  f1-score   support

           0       0.46      0.09      0.15       211
           1       0.94      0.99      0.97      3252

    accuracy                           0.94      3463
   macro avg       0.70      0.54      0.56      3463
weighted avg       0.91      0.94      0.92      3463

In [39]:
from sklearn.neighbors import KNeighborsClassifier

clf_bow_knn = clf_tfidf_knn = KNeighborsClassifier()

In [40]:
clf_bow_knn.fit(X_train_bow, y_train_bow)
clf_tfidf_knn.fit(X_train_tfidf, y_train_tfidf)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [41]:
pred_bow_knn   = clf_bow_knn.predict(X_test_bow)
pred_tfidf_knn = clf_tfidf_knn.predict(X_test_tfidf)

In [42]:
print(f'KNN Classifier Results: \n',
      f'{Fore.RED}Bag of words{Style.RESET_ALL} \n',
      f'Accuracy Socre: {Fore.LIGHTBLUE_EX}%0.2f %%{Style.RESET_ALL} \n'%(100 * accuracy_score(y_test_bow, pred_bow_knn)))
print(classification_report(y_test_bow, pred_bow_knn))

print(f'{Fore.RED}TF-IDF{Style.RESET_ALL} \n',
      f'Accuracy Socre: {Fore.LIGHTBLUE_EX}%0.2f %%{Style.RESET_ALL} \n'%(100 * accuracy_score(y_test_tfidf, pred_tfidf_knn)))
print(classification_report(y_test_tfidf, pred_tfidf_knn))

KNN Classifier Results:
 Bag of words
 Accuracy Socre: 93.82 %

              precision    recall  f1-score   support

           0       0.38      0.02      0.04       211
           1       0.94      1.00      0.97      3252

    accuracy                           0.94      3463
   macro avg       0.66      0.51      0.51      3463
weighted avg       0.91      0.94      0.91      3463

TF-IDF
 Accuracy Socre: 93.76 %

              precision    recall  f1-score   support

           0       0.14      0.00      0.01       211
           1       0.94      1.00      0.97      3252

    accuracy                           0.94      3463
   macro avg       0.54      0.50      0.49      3463
weighted avg       0.89      0.94      0.91      3463